# Compiled binaries
*.class

# ANTLR generated artifacts
*.interp
*.tokens
BanglaLexer.java
BanglaParser.java
BanglaParserListener.java
BanglaParserBaseListener.java
BanglaParserVisitor.java
BanglaParserBaseVisitor.java

# Compiler generated target output
output.py

# Dependencies & IDE files
*.jar
.vscode/
.idea/