# Compiled binaries
*.class

# ANTLR intermediate files
*.interp
*.tokens

# ANTLR generated Java files (keep only Main.java and your own source)
BanglaLexer.java
BanglaParser.java
BanglaParserListener.java
BanglaParserBaseListener.java

# ANTLR Complete JAR
*.jar

# IDE files
.vscode/
.idea/