# Compiled binaries
*.class

# ANTLR generated artifacts
*.interp
*.tokens
BanglaLexer.java
BanglaParser.java
BanglaParserListener.java
BanglaParserBaseListener.java
BanglaParserVisitor.java
BanglaParserBaseVisitor.java

# Compiler generated target output
output.py
__pycache__/
*.pyc
*.interp
*.tokens
BanglaLexer.py
BanglaParser.py
BanglaParserListener.py
tac_output.txt

# Dependencies & IDE files
*.jar
.vscode/
.idea/

# OS / Editor clutter
.DS_Store
Thumbs.db